@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Mono:wght@300;500&display=swap');

/* global reset */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* general styles */
h1,
h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
    color: #252525;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    display: flex;
    /* below added to enable sticky footer */
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Logo */
.logo-bg {
    background-color: #fff;
    width: 100%;
    height: 60px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 15px;
    word-wrap: normal;
}


/* responsive navigation with burger; 
    source: https: //www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */

.topnav,
.topnav-burger {
    overflow: hidden;
    background-color: rgb(228, 228, 228);
    width: 100%;
}

.topnav a,
.topnav-burger a {
    float: right;
    display: block;
    color: #1A1A1A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover,
.topnav-burger a:hover {
    background-color: rgb(255, 255, 255);
    color: #1A1A1A;
}

.topnav a.active,
.topnav-burger a.active {
    background-color: #00BD78;
    color: #1A1A1A;
}

.topnav-burger .icon {
    display: none;
}

/* main kids image in two versions; changes depending on screen size. 
    images source: Microsoft Designer Tool https: //designer.microsoft.com */

#kids-imageLandscape {
    float: left;
    width: 100%;
    position: relative;
    background: url('../images/kids-image-wide.webp') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#kids-imageSquare {
    float: left;
    width: 100vw;
    position: relative;
    background: url('../images/kids-image-narrow.webp') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/* cover slogan */
#slogan-text {
    font-size: 130%;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;

    width: 400px;
    height: 200px;

    padding: 30px 20px;

    background-color: rgba(246, 246, 246, 0.8);
    /*border-end-end-radius: 50px;*/
    border-radius: 30px;

    position: absolute;
    float: left;
    top: 150px;
    left: 40px;
}

#slogan-text h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 130%;
    padding-left: 20px;
    padding-bottom: 0;
}

#slogan-text p {
    padding-left: 20px;
    padding-right: 20px;
}



/* modules list*/
.row {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to each other */
.column {
    position: relative;
    float: left;
    width: 25%;
    height: 90px;
    border-right: 2px solid #ccc;
    background-color: #00BD78;
}

.column:last-child {
    border-right: none;
}

.column h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 200;
    color: #1A1A1A;
    margin: 10px 0;
    text-align: center;
    font-size: 100%;
}

.column i {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 200%;
}

.icon-color,
.column>h2 {
    color: #1A1A1A;
}



/* joining club reasons*/

.reasons {
    max-width: 100%;
    margin: 0 25px;
    text-align: center;
    padding: 25px 0;
}

.error {
    max-width: 100%;
    margin: 120px 25px;
    text-align: center;
}

.error h2 {
    font-size: 300%;
    color: red;
}

.joining-reasons p, .error-note p {
    background-color: rgb(228, 228, 228);
    max-width: 100%;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    padding: 15px 25px;
    text-align: center;
}

/* styles for the our modules / more info buttons */
.ourmods-button, 
.return-button {
    background-color: #00BD78;
    color: #1A1A1A;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    margin-right: 0;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.mod-enroll-button {
    background-color: #00BD78;
    color: #1A1A1A;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* reading list*/
.reading {
    max-width: 100%;
    margin: 25px 25px 5px 25px;
    text-align: center;
}

.reading img {
    width: 200px;
    margin-bottom: 5px;

}

.reading h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 15px 25px;
}

/* book gallery */
.book-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: #00BD78 solid 1px;
    background-color: #dedede;
}

.book-gallery img {
    max-width: 300px;
    margin: 10px;
    height: 300px;
}


/* contact us for more info */
.info-button {
    background-color: #fbfcfb;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
}

.more-info-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.more-info-container a {
    color: black;
}

/* center enroll / more info buttons */
.ourmods-button-container,
.return-home-container {
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2px;
    max-width: 100%;
}

/* hover styles for enroll / more info buttons */
.ourmods-button:hover,
.mod-enroll-button:hover,
.return-button:hover {
    background-color: #ffffff;
    color: black;
}

/* social media */
.social-networks {
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
}

/*target list items and align them horizontally*/
.social-networks li {
    display: inline;
}


/*sticky footer*/
.footer {
    margin-top: auto;
    padding: 0;
    text-align: center;
}

.code-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*target the social icons to move them apart horizontally*/
.social-networks i {
    font-size: 140%;
    margin: 0;
    padding: 12px;
    color: rgb(53, 53, 53);
}

/* footer - copyright footer */
#footer-copyright {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ffffff;
    padding-top: 2px;
}

#footer-copyright p {
    font-size: 75%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

#footer-copyright a {
    color: #1A1A1A;
}


/* Modules page modules icons in-line*/
/* Create four equal columns that floats next to each other */
.mod-column {
    position: relative;
    float: left;
    width: 25%;
    height: 450px;
    border-right: 2px solid rgb(255, 255, 255);
    background-color: #dedede
}

.mod-column:last-child {
    border-right: none;
}

.mod-column h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
    color: #212121;
    margin: 10px 0;
    text-align: center;
    font-size: 100%;
}

.mod-column p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #212121;
    margin: 60px 40px;
    text-align: center;
    font-size: 100%;
}

.mod-column i {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 250%;
}

.mod-column>h2 {
    color: #212121;
}


/* contact page styles */
.contact-page {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.contactform-container {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.googlemaps-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    min-width: 300px;
}

.contactform-container form {
    max-width: 100%;
    margin: 0 auto;
}

.contactform-container h2 {
    margin: 15px 0;
    text-align: center;
}

.contactform-container label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.name-inputs {
    display: flex;
}

.name-inputs div {
    width: 100%;
    margin-right: 20px;
}

.name-inputs div:last-child {
    margin-right: 0;
}

.name-inputs label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.name-inputs input {
    width: 100%;

}

.contactform-container input,
.contactform-container textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contactform-container textarea {
    resize: vertical;
}

.sendmessage-button {
    background-color: #00BD78;
    color: #1A1A1A;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    max-width: fit-content;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin: 20px 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sendmessage-button:hover {
    background-color: #c0c0c0;
    color: black;
}


#googlemaps {
    width: 100%;
    height: 100%;
    /*max-height: 400px;*/
}

@media screen and (max-width: 800px) {

    /* main kids image in two versions; changes depending on screen size. 
        images source: Microsoft Designer Tool https: //designer.microsoft.com */
    #kids-imageSquare {
        content: url('../images/kids-image-narrow.webp');
    }

    #kids-imageLandscape {
        display: none;
    }

    /* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
    .column {
        width: 50%;
        border-right: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
    }

    .column:last-child {
        border-right: none;
        border-bottom: 2px solid #ccc;
    }

    .column:nth-child(2) {
        border-right: none;
    }

    /* stack the enroll / info buttons on top of each other */
    .ourmods-button,
    .info-button,
    .return-button {
        display: block;
        width: 100%;
        margin-right: 0;
        border-radius: 5px;
    }

    /*make font size smaller for reasons to join us */
    .joining-reasons p {
        font-size: 100%;
    }

    /* contact form stacking of labels*/
    .contactform-container {
        flex-basis: 100%;
    }

    .form-container,
    .map-container {
        flex: 100%;
    }

    .form-container {
        width: 100%;
    }

    .name-inputs {
        flex-direction: column;
    }

    .name-inputs div {
        margin-right: 0;
        margin-bottom: 10px;
        flex-basis: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 801px) {
    #kids-imageLandscape {
        content: url('../images/kids-image-wide.webp');
    }

    #kids-imageSquare {
        display: none;
    }
}

/* responsive navigation with burger for screens of 600px and lower; 
    source: https: //www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */
@media screen and (max-width: 600px) {
    .topnav {
        display: none;
    }

    .topnav-burger a:not(.active) {
        display: none;
    }

    .topnav-burger a.icon {
        float: right;
        display: block;
    }

    .topnav-burger.responsive {
        position: relative;
    }

    .topnav-burger.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav-burger.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    /* book gallery */
    .book-gallery {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}

@media screen and (min-width: 600px) {
    .topnav-burger {
        display: none;
    }
}

/* footer - copyright footer */
@media screen and (max-width:300px) {

    #footer-copyright p {
        font-size: 60%;
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
    }
}

/* resize slogan text at different screen sizes */
@media screen and (max-width: 470px) {
    #slogan-text {
        font-size: 70%;
        font-family: 'Roboto Mono', sans-serif;
        text-transform: uppercase;

        width: 210px;
        height: 100px;

        padding: 8px 3px;

        background-color: rgba(246, 246, 246, 0.8);
        border-radius: 5px;

        position: absolute;
        float: left;
        top: 200px;
        left: 10px;
    }
}

@media screen and (min-width: 471px) and (max-width: 900px) {
    #slogan-text {
        font-size: 90%;
        font-family: 'Roboto Mono', sans-serif;
        text-transform: uppercase;

        width: 250px;
        height: 150px;

        padding: 10px 10px;

        background-color: rgba(246, 246, 246, 0.8);
        /*border-end-end-radius: 50px;*/
        border-radius: 20px;

        position: absolute;
        float: left;
        top: 170px;
        left: 10px;
    }
}

/* Responsive layout - changes the module columns to two columns stacked on top of each other instead of next to each other */
@media screen and (min-width: 1170px) and (max-width: 1525px) {
    .mod-column {
        height: 350px;
        width: 50%;
        border-bottom: 2px solid rgb(255, 255, 255);
        border-right: 2px solid rgb(255, 255, 255);
    }

    .mod-column:last-child {
        border-right: none;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    .mod-column:nth-child(2) {
        border-right: none;
    }
}


@media screen and (min-width: 768px) and (max-width: 1170px) {
    .mod-column {
        width: 50%;
        border-bottom: 2px solid rgb(255, 255, 255);
        border-right: 2px solid rgb(255, 255, 255);
        height: 450px;
    }

    .mod-column:last-child {
        border-right: none;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    .mod-column:nth-child(2) {
        border-right: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
    .mod-column {
        width: 100%;
        border-bottom: 2px solid rgb(255, 255, 255);
        border-right: none;
        height: 350px;
    }

    .mod-column:last-child {
        border-right: none;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

}

@media screen and (min-width: 350px) and (max-width: 550px) {
    .mod-column {
        width: 100%;
        border-bottom: 2px solid rgb(255, 255, 255);
        border-right: none;
        height: 460px;
    }

    .mod-column:last-child {
        border-right: none;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

}

@media screen and (min-width: 280px) and (max-width: 350px) {
    .mod-column {
        height: 560px;
        width: 100%;
        border-bottom: 2px solid rgb(255, 255, 255);
        border-right: none;
    }

    .mod-column:last-child {
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    .mod-enroll-button {
        margin-bottom: 15px;
    }
}